﻿@model Web.ViewModels.Calendar.View
<div class="calendar-week" style="float:left">
    <span class="prev">
        <a href="@Model.PrevWeekUrl"><img src="@Url.Content("~/Content/images/lszczalka.png")" /></a>
    </span>
    <span class="week">   
        @Model.Week.StartDate.ToString("d MMM") - @Model.Week.EndDate.ToString("d MMM")
    </span>
    <span class="next">
        <a href="@Model.NextWeekUrl"><img src="@Url.Content("~/Content/images/szczalka.png")" /></a>
    </span>
</div>

<div class="jump-to-date" style="float:right">
    <form>
        <input type="text" id="jump-target" value="@Model.Week.StartDate.ToString("yyyy-MM-dd")"/>
        <a href="" id="jump">Jump!</a>
    </form>
</div>

<table class="calendar" data-current-year="@Model.Week.StartDate.Year" data-current-month="@Model.Week.StartDate.Month" data-current-day="@Model.Week.StartDate.Day">
    <thead>
        <tr class="days">
            <th class="hour-header">
                &nbsp;
            </th>
            @foreach(var day in Model.Days)
            {
                <th class="day-header">
                    @day.DayOfWeek<br />
                    <span class="date">@day.Date.ToString("yyyy-MM-dd")</span>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var hour in Model.Hours.Indexed())
        {
            <tr class="hour-row">
                <td class="hour-row-header" id="hour-header-@hour.Index">
                    @hour.Value:00
                </td>

                @foreach (var day in Model.Days.Indexed())
                {
                    <td class="cell" id="cell-@hour.Index-@day.Index" data-hour="@hour.Value" data-hour-index="@hour.Index" data-day="@day.Index" data-date="@day.Value.ToString("yyyy-MM-dd")">&nbsp;</td>
                }
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    document.title = '@string.Format("Calendar  {0:d MMM} - {1:d MMM}", Model.Week.StartDate, Model.Week.EndDate)';
</script>