﻿@model Web.ViewModels.Calendar.View
@{
    ViewBag.Title = string.Format("Calendar  {0:d MMM} - {1:d MMM}", Model.Week.StartDate, Model.Week.EndDate);
}
<div id="calendar">
    @Html.Partial("_Calendar")
</div>
<div id="tasks-side">
    <h4>Tasks</h4>
    <div class="actions">
        <a href="" id="create-task">Create new task...</a>
    </div>    
    <div id="tasks">
    </div>
</div>
<div id="editAppointment">
</div>
<div id="dialog"></div>
<script type="text/javascript" src="@Url.Content("~/Scripts/calendar.js")"></script>
