﻿@model Web.ViewModels.Appointments.Edit
@using(Ajax.BeginForm(AjaxOptions("appointmentUpdated", onError: "editAppointmentFailed")))
{
    @Html.ValidationSummary(true)    
    @Html.HiddenFor(x => x.Id)
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Date)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.Date, new SelectList(Model.AvailableDates, "Date", "Name"))<br />
        @Html.ValidationMessageFor(model => model.Date)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StartHour)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.StartHour, new SelectList(Model.AvailableHours))<br />
        @Html.ValidationMessageFor(model => model.StartHour)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.EndHour)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.EndHour, new SelectList(Model.AvailableHours))<br />
        @Html.ValidationMessageFor(model => model.EndHour)
    </div>

    <div style="clear: both">
    </div>
    
    <p style="text-align: right">
        <input type="submit" value="Save" />
    </p> 
}
