﻿@model Web.ViewModels.Appointments.UpcomingAppointments

@{
    ViewBag.Title = "Upcoming Appointments";
}
    
    <h2>Upcoming appointments</h2>

    <div>
    @if (Model.HasAppointments)
    {
        <p>Current appointment:</p>
        
        <p>
        @if (Model.CurrentAppointment != null)
        {
            <text>@Model.CurrentAppointment.StartDate.ToString("HH:mm") - @Model.CurrentAppointment.EndDate.ToString("HH:mm") @Model.CurrentAppointment.Task.Name</text>
        }
        else
        {
            <text>You have no ongoing tasks.</text>
        }
       </p>
        
        <p>Appointments during next 24 hours:</p>

        <p>
        @foreach (var app in Model.NextAppointments)
        {
            <text>@app.StartDate.ToString("HH:mm") - @app.EndDate.ToString("HH:mm") @app.Task.Name</text><br />
        }
        </p>
        <p>Amount of time in appointments:</p>

        <p>@Model.TimeInAppointments @((Model.TimeInAppointments > 1) ? "hours" : "hour")</p>
    }
    else
    {
        <p>There are no upcoming tasks.</p>
    }
    </div>