﻿@model Web.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
}
<script src="@Url.Content("~/Scripts/openid-jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/openid-en.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        openid.init('openid_identifier');
    });
</script>
<form action="@Url.Action("LogOn", "Account")?ReturnUrl=@HttpUtility.UrlEncode(Request.QueryString["ReturnUrl"])" method="post" id="openid_form">
<input type="hidden" name="action" value="verify" />
<div>
    <h3>Login using OpenID</h3>
    <div class="openid_choice">
        <p>
            Please click your account provider:</p>
        <div id="openid_btns">
        </div>
    </div>
    <div id="openid_input_area">
        @Html.TextBox("openid_identifier")
        <input type="submit" value="Log On" />
    </div>
    <div>
        @if(Model != null)
        {
            if(String.IsNullOrEmpty(Model.UserName))
            {
            <div class="editor-label">
                @Html.LabelFor(model => model.OpenID)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.OpenID)
            </div>
            <p class="button">
                @Html.ActionLink("New User ,Register", "Register",
                                         new
                                         {
                                             OpenID = Model.OpenID
                                         })
            </p>
            }
            else
            {
                //user exist 
            <p class="buttonGreen">
                <a href="@Url.Action("Index", "Home")">Welcome , @Model.UserName, Continue..." </a>
            </p>

            }
        }
    </div>
</div>
</form>
