﻿@model Model.User

@{
    ViewBag.Title = "Manage account";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/iCal.js")"></script>

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

<h2>Manage account</h2>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">User data</a></li>
		<li><a href="#tabs-2">Outlook integration</a></li>
	</ul>
	<div id="tabs-1">

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mail)
            @Html.ValidationMessageFor(model => model.Mail)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.TimeZone)
        </div>
        <div class="editor-field">
            <select id="TimeZone" name="TimeZone">
                @foreach (var tz in TimeZoneInfo.GetSystemTimeZones())
                {
                    if(tz.Id == Model.TimeZone)
                    {
                        <option value="@tz.Id" selected="selected">@tz.DisplayName</option>
                    }
                    else
                    {
                        <option value="@tz.Id">@tz.DisplayName</option>
                    }   
                }
            </select>
        </div>
        <div style="clear: both"></div>
        <p>
            <input type="submit" value="Save" />
        </p>
}
    </div>
    <div id="tabs-2">
        <p><button id="generate">Generate link to iCal file</button></p><br />


        @if (!string.IsNullOrEmpty(Model.CalendarToken))
        {
            <a id="link" href="@Url.Action("GetCalendarFileByToken", "Calendar", Id(Model.CalendarToken), "http")">@Url.Action("GetCalendarFileByToken", "Calendar", Id(Model.CalendarToken), "http")</a><br />
        }
        else
        {
            <a id="link" href="#"></a>
        }
    </div>
