﻿@model Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<h3>
    Create a New Account</h3>

@using(Html.BeginForm("Register", "Account"))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    @Html.HiddenFor(x => x.OpenID)
    <div>
        <div class="editor-label">
            @Html.LabelFor(m => m.DisplayName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.DisplayName)
            @Html.ValidationMessageFor(m => m.DisplayName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.TimeZone)
        </div>
        <div class="editor-field">
            <select id="TimeZone" name="TimeZone">
                @foreach (var tz in TimeZoneInfo.GetSystemTimeZones())
                {
                        <option value="@tz.Id">@tz.DisplayName</option>
                }
            </select>
        </div>

        <div style="clear:both"></div>

        <p style="text-align: center">
            <input type="submit" value="Register" class="ui-button"/>
        </p>
    </div>
}
