﻿@{
    ViewBag.Title = "Getting Started";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/howto.js")"></script>

<div id="accordion">
    <h3><a href="#">Logging in</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/login.png")" alt="Logging in" /><br />
            All you need to do is choose your account provider and the rest is done automatically. No additional passwords are needed :)
        </p>
    </div>
    <h3><a href="#">Calendar</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/calendar.png")" alt="Calendar" /><br />
            This is accessible through the 'Calendar' menu option. This screen shows you your appointments for current week. You can change week on the navigation bar above calendar.
        </p>
    </div>
    <h3><a href="#">Creating tasks</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/task_create.png")" alt="Creating tasks" /><br />
            To open this dialog you need to click 'Create new task' on the right side of the calendar. After filling form click 'Create' to add task.
        </p>
    </div>
    <h3><a href="#">Editing/removing tasks</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/task_context_menu.png")" alt="Editing/removing tasks" /><br />
            Clicking with the right mouse button invokes context menu allowing to edit or remove tasks.<br />
            This is edtition dialog box:<br />
            <img src="@Url.Content("~/Content/images/howto/task_edit.png")" alt="Editing task" />
        </p>
    </div>
    <h3><a href="#">Adding appointment</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/appointment_create.png")" alt="Adding appointment" /><br />
            To add new appointment simply drag a task and drop it on the calendar.
        </p>
    </div>
    <h3><a href="#">Editing/removing appointments</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/appointment_context_menu.png")" alt="Editing/removing appointments" /><br />
            Clicking with the right mouse button invokes context menu allowing to edit or remove appointments. You can also drag it and drop within calendar.<br />
            This is edtition dialog box:<br />
            <img src="@Url.Content("~/Content/images/howto/appointment_edit.png")" alt="Editing appointment" />
        </p>
    </div>
    <h3><a href="#">Upcoming appointments</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/appointments_upcoming.png")" alt="Upcoming appointments" /><br />
            This page, which is accessible though 'Upcoming appointments' menu option, provides a preview of appointments for next 24 hours, shows current task and amount of time already planned.
        </p>
    </div>
    <h3><a href="#">Editing your profile</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/user_edit.png")" alt="Editing your profile" /><br />
            You can edit your profile info on 'Your profile' page.
        </p>
    </div>
    <h3><a href="#">Generating iCal link</a></h3>
    <div>
        <p>
            <img src="@Url.Content("~/Content/images/howto/iCal.png")" alt="Generating iCal link" /><br />
            On 'Your profile' page you can generate your link to iCal file containing your appointments.<br />
            Warning: Generating new link renders the previous one obsolete!
        </p>
    </div>
</div>
