﻿@{
    ViewBag.Title = "Mr Bean's Planner";
}

<div id="home_navigation">
<div id="home_text_regiter">

    <a href="@Url.Action("LogOn", "Account")">
        <h2>Fast registration and login</h2>
        <p>Simplest ever, based on OpenID</p>
        Just click here!
    </a>
</div>
</div>

<div id="home_content">
<div id="home_text">
    <p>
        <h2>Welcome to our Calendar!</h2>
        <p>Take a look:</p>

        <object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/ftg2mROq6us?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/ftg2mROq6us?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object>
    </p>
</div>
</div>