﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/Content/layout.css")" type="text/css" />    
    <link rel="stylesheet" href="@Url.Content("~/Content/openid.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/openid-shadow.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.contextMenu.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" type="text/css" />

    <script type="text/javascript">var rootPath = '@Url.Content("~/")';</script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.contextMenu.js")"></script>  
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js")"></script>        
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>  
    <script type="text/javascript" src="@Url.Content("~/Scripts/misc.js")"></script>  

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30901680-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</head>
<body>
    <div id="log-on">
        @Html.Partial("_LogOnPartial")
    </div>
    <div id="header">
    <div id="top_text">
        <h1>
            <a href="@Url.RouteUrl("Start")">Mr. Bean's Planner</a></h1>
        <h3>
            Plan your future!</h3>
    </div>
        <nav>
            @Html.Partial("_Menu")
        </nav>
    </div>
    <div id="container">
        <div id="content">
            @RenderBody()
        </div>       
    </div>
    <footer>
        <div id="footer">
            <!-- If you wish to delete this line of code please purchase our commercial license http://www.sixshootermedia.com/shop/commercial-license/ -->
            <p>
                <!-- you can delete below here -->
                Created during Hackfest #3 by Mr Bean's Private Army team.<br />
                Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.
            </p>
        </div>
    </footer>

    <div id="loading" class="ui-widget-overlay" style="width:100%; height: 100%;display:none">
        <div id="loading-box">
            <img src="@Url.Content("~/Content/images/ajax-loader.gif")" />
        </div>
    </div>
</body>
</html>
