﻿<ul id="nav">
    <li>@Html.RouteLink("Home", "Start")</li>
    <li>@Html.RouteLink("Getting started", "Guide")</li>
    
    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="@Url.Action("Manage", "Account")">My profile</a></li>
        <li>@Html.RouteLink("Calendar", "CalendarViewToday")</li>
        <li><a href="@Url.Action("UpcomingAppointments", "Appointments")">Upcoming appointments</a></li>
    }
    
    <!--<li><a href="#" class="active">Active Link</a></li>-->
</ul>
