﻿@model Web.ViewModels.Task.Create

@using (Ajax.BeginForm(AjaxOptions(onSuccess: "taskCreated", onError: "taskCreationFailed"))) {
    @Html.ValidationSummary(true)        

    <div class="editor-label">
        @Html.LabelFor(model => model.Task.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Task.Name)
        @Html.ValidationMessageFor(model => model.Task.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Task.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Task.Description)
        @Html.ValidationMessageFor(model => model.Task.Description)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Task.Duration)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x=>x.Task.Duration, new SelectList(Model.AvailableDurations, "Item1", "Item2"))
        @Html.ValidationMessageFor(model => model.Task.Duration)
    </div>

    @*<div class="editor-label">
        @Html.LabelFor(model => model.IsReusable)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsReusable)
        @Html.ValidationMessageFor(model => model.IsReusable)
    </div>*@

    <div style="clear: both"></div>
    
    <p style="text-align:right">
        <input type="submit" value="Create" />
    </p>
}
<script type="text/javascript">
    $.validator.unobtrusive.parse();
</script>