﻿@model Web.ViewModels.Task.Edit

@using (Ajax.BeginForm(AjaxOptions(onSuccess: "taskUpdated", onError: "taskUpdateFailed"))) {
    @Html.ValidationSummary(true)     
    
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Visible)
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Duration)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x=>x.Duration, new SelectList(Model.AvailableDurations, "Item1", "Item2"))
        @Html.ValidationMessageFor(model => model.Duration)
    </div>

    @*<div class="editor-label">
        @Html.LabelFor(model => model.IsReusable)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsReusable)
        @Html.ValidationMessageFor(model => model.IsReusable)
    </div>*@
                   
    <div style="clear: both"></div>
        
    <p>
        <input type="submit" value="Save" />
    </p>
}