﻿#log-on
{
	float: right;	
	padding-right: 25px;
}

input[type=text]
{
	border: 1px solid #ccc;
	padding: 2px;	
	color: #444;
	width: 200px;
}

input[type=submit]
{
	
	padding: 5px;
}


.day-header
{
	width: 70px;
	max-width:70px;
	font-size: 0.9em;
	padding: 0;		
	border-bottom: none;
	border-left: 1px solid #EEEEEE;
}

.day-header:nth-child(2)
{
	border-left: none;
}

.day .date
{
	font-size: 0.7em;	
}

.hour-row-header
{
	font-size: 0.7em;
	width: 40px;
	height: 20px;
	padding: 0;	
	border-bottom: 1px solid #EEEEEE;
	background-color: White;
}

.hour-row:last-child .hour-row-header
{
	border-bottom: none;
}

.hour-header
{
	border-bottom: none;
}

.calendar .cell:hover
{
	background-color: #E8E8E8;
}

.calendar-week .week
{
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
	width: 200px;
	text-align: center;
}

#calendar
{
	float: left;
	width: 70%;
	border-collapse: collapse;
}

#calendar .cell
{
	margin:10px;
}

#tasks-side
{
	float: right;
	width: 25%;
	margin-left: 25px;
}

#tasks .task
{
	width: 70px;	
	background-color: #E9ADF1;
	border: #DB7AE9 solid 1px;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 0 1px 1px #888;
	overflow: hidden;
	cursor: move;
}

#calendar .busy-cell
{	
	background-color: #C5F751;
	color: black;
	border-radius: 5px;
	box-shadow: 0 0 1px 1px #888;
	overflow:hidden;
	width:70px;
	max-width:70px;
	cursor: move;
}

.context-menu-item 
{							
	vertical-align: middle;	
	font: normal normal 400 11px/normal Verdana;	
}

.context-edit:before
{	
	content:"";
	float:left;
	margin: 0px 10px 4px 0;
	width: 16px;
	height: 16px;
	background-image: url(images/ui-icons_808080_256x240.png);
	background-position: -64px -112px;	
	clear:both;
}

.context-remove:before
{	
	content:"";
	float:left;
	margin: 0px 10px 4px 0;
	width: 16px;
	height: 16px;
	background-image: url(images/ui-icons_808080_256x240.png);
	background-position: -80px -128px;	
	clear:both;	
}

.editor-label
{
	width: 25%;	
	float: left;
	height: 50px;
	margin-bottom: 5px;
}

.editor-field
{
	width: 60%;	
	float: right;	
	height: 50px;
	margin-bottom: 5px;
}

select
{
	min-width: 100px;
}

.field-validation-error
{
	color: Red;
}

.actions
{
	font-size: 0.7em;
}

#loading-box
{
	width: 200px;
	height: 100px;
	background: white none no-repeat;
	opacity: 1;		
	filter:Alpha(Opacity=90);	
}

#loading-box img
{
	position: relative;
	left: 67px;
	top: 17px;
}